# Virtual environments (Root and Nested)
venv/
.venv/
env/
ENV/
venv-bak/
.venv-bak/

# Workspace-installed agent skills
.github/skills/brainstorming/
.github/skills/writing-plans/
.github/skills/executing-plans/

# No needed for the final project
final_project/docs_from_teacher
final_project/specs/
final_project/data/processed/*
